.navbar {
  width: 100%;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.navbar-list a {
  text-decoration: none;
  color: rgb(43, 14, 71);
}

.navbar-list li {
  margin-right: 1.5rem;
}

.navbar-list li:last-child {
  margin-right: 0;
}